{% extends "base_site.html" %}
{% from "macros.html" import errorMsg %}

{% block title %} Estudantes {% endblock title %}
{% block content %}
<!-- page content -->
<div id="students-page" class="right_col" role="main">
  <div class="page-title">
    <div class="title_left">
      <h3>Estudantes</h3>
      <br>
    </div>
  </div>

  <div class="clearfix"></div>

  <div class="row">
    <div class="col-xs-8 col-sm-6 col-lg-3">
      <select class="select2_group form-control select-domain">
        <option value="">-- Escolha o domínio --</option>
        {% for group in domains %}
          <optgroup label="{{ group._id.scholarity }}">
            {% for domain in group.domains %}
              <option
                data-study-cycle="{{ group._id.study_cycle }}"
                data-scholarity="{{ group._id.scholarity }}"
                value="{{ domain.description }}">
                {{ domain.description }}
              </option>
            {% endfor %}
          </optgroup>
        {% endfor %}
      </select>
    </div>
    <div class="col-xs-2">
      <button class="btn btn-primary show-students-list" onclick="showVue()">Mostrar</button>
    </div>
  </div>

  <div class="x_content">
    <!-- CONTENT SET BY JS -->
  </div>
</div>

<!-- /page content -->

<script>

  function showVue(){
    window.location.href = "http://127.0.0.1:8081/"
  }

</script>
{% endblock content %}