{% extends "base_site.html" %} {% block title %} Análise de dados {% endblock title %} {% block stylesheets %} {{ super() }} {% endblock stylesheets %} {% block content %}
<!-- page content -->
<div class="right_col" role="main">
    <!-- top tiles -->
    <div id="widget_initial_bar" class="row tile_count">
    </div>
    <!-- /top tiles -->

    <!-- Start Network Activities -->
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <div class="dashboard_graph">

                <div class="row x_title">
                    <div class="col-md-4 ">
                        <h3>Desempenho por domínio de avaliação<p><small>Respostas efetuadas</small></p></h3>
                    </div>
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-0">
                        <div id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
                            <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                            <span></span> <b class="caret"></b>
                        </div>
                    </div>
                </div>

                <div class="x_content">
                    <div class="col-md-9 col-xs-12">
                        <div id="chart_plot_01" class="demo-placeholder"></div>
                        <div class="tiles">
                            <div id="left">
                                <div class="chart-container">
                                    <div class="chart-title">
                                        <span style="vertical-align: top;">Nº de Questões</span>
                                    </div>
                                <div class="actual-chart" id="barChartSN" style="height: 200px;">
                                </div>
                                </div>
                            </div>

                            <div id="center">
                                <div class="chart-container">
                                    <div class="chart-title">
                                        <span style="vertical-align: top;">Tempo médio de Resposta</span>
                                    </div>
                                <div class="actual-chart" id="barChartSAVG" style="height: 200px;">
                                </div>
                                </div>
                            </div>

                            <div id="right">
                                <div class="chart-container">
                                    <div class="chart-title">
                                        <span style="vertical-align: top;">Respostas por género</span>
                                    </div>
                                    <div class="x_content" >
                                        <canvas id="mybarGenderSub"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-12 bg-white">
                        <div class="x_title">
                            <h2>Domínios</h2>
                            <div id="widget-update-graph">
                                <select class="pull-right select_domain" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
                                    {% for domain in domains %}
                                    <option selected value="{{domain}}">
                                        {{domain}}
                                    </option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_title">
                            <h2>Subdomínios</h2>
                            <div id="widget-update-subdomains">
                                <select class="pull-right select_subdomain" style=" background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
                                </select>
                            </div>
                            <div class="clearfix"></div>
                        </div>

                        <div class="col-md-12 col-sm-12 col-xs-6">
                            <div>
                                <p>Corretas</p>
                                <div class="">
                                    <div>
                                        <progress id="progBarC" class="progress progress_sm barra-verde" value="0" max="100" style="width: 50%;">
                                    </div>
                                </div>
                            </div>
                            <div>
                                <p>Incorretas</p>
                                <div class="">
                                    <div>
                                        <progress id="progBarW" class="progress progress_sm barra-vermelha" value="0" max="100" style="width: 50%;">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12" style="margin-top: 20px;">
            <div class="x_panel">
                <div class="x_title" style="text-align: justify;">
                    <h3>Desempenho por nível de dificuldade</h3>
                    <div class="clearfix"></div>
                </div>
                <div id="left">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Respostas por nível</h2>
                            <ul class="nav navbar-right panel_toolbox">
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <canvas id="mybarChart"></canvas>
                        </div>
                    </div>
                </div>
                <div id="center">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Tempo médio de resposta</h2>
                            <ul class="nav navbar-right panel_toolbox">
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div id="graph_bar"></div>
                        </div>
                    </div>
                </div>
                <div id="right">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Pontuação por género</h2>
                            <ul class="nav navbar-right panel_toolbox">
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <canvas id="mybarChartPoints"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12" style="margin-top: 20px;">
            <div class="x_panel">
                <div class="x_title" style="text-align: justify;">
                    <h3>Desempenho geral por cursos</h3>
                    <div class="clearfix"></div>
                </div>
            
                <div class="x_content">
                    <div class="col-md-9 col-sm-12">
                        <div id="points_degree_chart" class="demo-placeholder"></div>
                    </div>
                    
                    <div class="col-md-3 col-sm-12">
                        <div>
                            <div class="x_title">
                                <h2>Top de Alunos</h2>
                                <div class="clearfix"></div>
                            </div>
                            <ul id="lista_top_alunos" class="list-unstyled top_alunos scroll-view">
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>

    
    <!-- End Network Activities -->
    <style>
        #container {
            display: table-row;
        }
        
        #left {
            float: left;
            width: 33.33%;
            height: 100%;
            padding: 10px;
            display: table-cell;
        }
        
        #center {
            float: left;
            width: 33.33%;
            height: 100%;
            padding: 10px;
            display: table-cell;
        }
        
        #right {
            float: left;
            width: 33.33%;
            height: 100%;
            padding: 10px;
            display: table-cell;
        }
        
        .barra-vermelha {
            background: transparent;
        }
        
        .barra-vermelha::-moz-progress-bar {
            background: #2A3F54;
        }
        
        .barra-verde {
            background: transparent;
        }
        
        .barra-verde::-moz-progress-bar {
            background: #73879C;
        }
    </style>
    {% endblock content %} {% block javascripts %} {{ super()}}
    <script src="{{ url_for('static', filename='js/base.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/morris.js/morris.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/raphael/raphael.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/morris.js/morris.min.js') }}"></script>

    <!-- Chart.js -->
    <script src="{{ url_for('static', filename='vendors/Chart.js/dist/Chart.min.js') }}"></script>
    <!-- Flot -->
    <script src="{{ url_for('static', filename='vendors/Flot/jquery.flot.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/Flot/jquery.flot.pie.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/Flot/jquery.flot.time.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/Flot/jquery.flot.stack.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/Flot/jquery.flot.resize.js') }}"></script>
    <!-- Flot plugins -->
    <script src="{{ url_for('static', filename='vendors/flot.orderbars/js/jquery.flot.orderBars.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/flot-spline/js/jquery.flot.spline.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/flot.curvedlines/curvedLines.js') }}"></script>
    <!-- DateJS -->
    <!--<script src="{{ url_for('static', filename='js/flot.js') }}"></script>-->
    <!--<script src="../../base/assets/js/statistics/perf_domain.js"></script>
  <script src="../../base/assets/js/statistics/perf_level.js"></script>-->

    {% endblock javascripts %}