{% extends "base_site.html" %}

{% block title %} Análise {% endblock title %}

{% block stylesheets %}
{{ super() }}
<link href="{{ url_for('static', filename='vendors/datatables.net-bs/css/dataTables.bootstrap.min.css') }}"
    rel="stylesheet">
<link href="{{ url_for('static', filename='vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css') }}"
    rel="stylesheet">
<link href="{{ url_for('static', filename='vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css') }}"
    rel="stylesheet">
<link href="{{ url_for('static', filename='vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css') }}"
    rel="stylesheet">
<link href="{{ url_for('static', filename='vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css') }}"
    rel="stylesheet">
{% endblock stylesheets %}

{% block content %}
<div class="right_col" role="main">
    <div class="">

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Análise</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <!-- start form for validation -->
                        <form id="form-utilizador" action="/analise/procurar?nome={{nome}}" method="POST"
                            enctype="multipart/form-data" data-parsley-validate>
                            <label for="procurar">Procurar:</label>
                            <input type="text" id="procurar" class="form-control" name="procurar" required />
                            </br>
                            <label>Tipo:</label>
                            <p>
                                Texto
                                <input type="radio" class="flat" name="tipo" id="texto" value="texto" required />
                                Contexto
                                <input type="radio" class="flat" name="tipo" id="contexto" value="contexto" />
                            </p>
                            </br>
                            <label>Versão:</label>
                            <p>
                                Todas
                                <input type="radio" class="flat" name="versao" id="todas" value="todas" required />
                                Intrepretativa
                                <input type="radio" class="flat" name="versao" id="inter" value="intrepretativa" required />
                                Semi-Diplomática
                                <input type="radio" class="flat" name="versao" id="semi" value="semi-diplomatica" />
                            </p>
                            </br>
                            <label for="folio">Fólio(s):</label>
                            <select class="form-control" id="folio" name="folio">
                                <option name="todos">Todos</option>
                                {% for folio in folios%}
                                <option name="{{folio._id}}" id="{{folio._id}}">{{folio._id}}</option>
                                {% endfor %}
                            </select>
                            </br>
                            <p>
                                <label for="resultado">Resultado:</label>
                            </p>
                            <div class="row">
                                <div class="col-md-3">
                                    Período
                                    <input type="radio" class="flat" name="resultado" id="periodo" value="periodo"
                                        required />

                                    Linha
                                    <input type="radio" class="flat" name="resultado" id="linha" value="linha"
                                        required />

                                    N Palavras
                                    <input type="radio" class="flat" name="resultado" id="palavras" value="palavras" required />
                                </div>
                                <div class="col-md-3">
                                    <input style="width: 75px;" type="number" min="0" id="npalavras" class="form-control"
                                        name="npalavras" disabled/>
                                </div>
                            </div>

                            </br>
                            <p>
                                <button type="reset" class="btn btn-primary">Reiniciar</button>
                                <button type="submit" class="btn btn-success">Procurar</button>
                            </p>
                        </form>
                        <!-- end form for validations -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block javascripts %}
{{ super() }}
<script src="{{ url_for('static', filename='vendors/ajax/jquery.js') }}"></script>
<script>
    $('#contexto').click(function(){
        $('#todas').attr("disabled","disabled");
        $('#inter').attr("disabled","disabled");
        $('#semi').attr("disabled","disabled");
        $('#folio').attr("disabled","disabled");
        $('#periodo').attr("disabled","disabled");
        $('#linha').attr("disabled","disabled");
        $('#palavras').attr("disabled","disabled");
        $('#npalavras').attr("disabled","disabled");
    });

    $('#texto').click(function(){
        $('#todas').removeAttr("disabled");
        $('#inter').removeAttr("disabled");
        $('#semi').removeAttr("disabled");
        $('#folio').removeAttr("disabled");
        $('#periodo').removeAttr("disabled");
        $('#linha').removeAttr("disabled");
        $('#palavras').removeAttr("disabled");
    });

    $('#periodo').click(function(){
        $('#npalavras').attr("disabled","disabled");
    });

    $('#linha').click(function(){
        $('#npalavras').attr("disabled","disabled");
    });

    $('#palavras').click(function(){
        $('#npalavras').removeAttr("disabled");
    });
</script>
<!-- Datatables -->
<script src="{{ url_for('static', filename='vendors/datatables.net/js/jquery.dataTables.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/datatables.net-bs/js/dataTables.bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/datatables.net-buttons/js/dataTables.buttons.min.js') }}"></script>
<script
    src="{{ url_for('static', filename='vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/datatables.net-buttons/js/buttons.flash.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/datatables.net-buttons/js/buttons.html5.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/datatables.net-buttons/js/buttons.print.min.js') }}"></script>
<script
    src="{{ url_for('static', filename='vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js') }}"></script>
<script
    src="{{ url_for('static', filename='vendors/datatables.net-keytable/js/dataTables.keyTable.min.js') }}"></script>
<script
    src="{{ url_for('static', filename='vendors/datatables.net-responsive/js/dataTables.responsive.min.js') }}"></script>
<script
    src="{{ url_for('static', filename='vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js') }}"></script>
<script
    src="{{ url_for('static', filename='vendors/datatables.net-scroller/js/dataTables.scroller.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/jszip/dist/jszip.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/pdfmake/build/pdfmake.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/pdfmake/build/vfs_fonts.js') }}"></script>
{% endblock javascripts %}