<div class="x_panel">
  <div class="x_title">
    <h2>Parâmetros</h2>
    <ul class="nav navbar-right panel_toolbox">
      <li style="float: right"><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
      </li>
    </ul>
    <div class="clearfix"></div>
  </div>
  <div class="row x_content">
    <br />
    <form class="form-horizontal form-label-left input_mask col-md-6 col-sm-6 col-xs-12">

      <div class="form-group">
        <label class="control-label col-md-2 col-sm-3 col-xs-12">Domínio</label>
        <div class="col-md-9 col-sm-9 col-xs-12">
          <select id="domain_in" class="form-control">
            <option value="">-- Escolha um domínio --</option>
            {% for domain, list in dict.items() %}
              <option value="{{ domain }}">{{ domain }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-md-2 col-sm-3 col-xs-12">Subdomínio</label>
        <div class="col-md-9 col-sm-9 col-xs-12">
          <select id="subdomain_in" class="form-control">
            <option value="" data-tag="">-- Escolha um subdomínio --</option>
            {% for domain, list in dict.items() %}
              {% for subdomain in list %}
                <option value="{{ subdomain.description }}" data-tag="{{ domain }}">{{ subdomain.description }}</option>
              {% endfor %}
            {% endfor %}
          </select>        
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-md-2 col-sm-3 col-xs-12">Dificuldade</label>
        <div id="difficulty_in" class="col-md-9 col-sm-9 col-xs-12">
            <input type="radio" name="degree" id="easy" value="1" class="flat"/>  Fácil<br/>
            <input type="radio" name="degree" id="normal" value="2" class="flat"/>  Normal<br/>
            <input type="radio" name="degree" id="hard" value="3" class="flat"/>  Difícil<br/>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-md-2 col-sm-3 col-xs-12">Repetições</label>
        <div class="col-md-9 col-sm-9 col-xs-12">
          <select id="heard" class="form-control">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-md-2 col-sm-3 col-xs-12">Questões precedentes</label>
        <div class="col-md-9 col-sm-9 col-xs-12">
          <input id="tags_1" type="number" class="tags" value="" />
        </div>
      </div>
    </form>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <label class="control-label col-md-2 col-sm-3 col-xs-12">Cabeçalho</label>
      <div id="alerts"></div>
        <div class="btn-toolbar editor col-xs-12" data-role="editor-toolbar" data-target="#editor-header">
          <div class="btn-group">
            <a class="btn dropdown-toggle" data-toggle="dropdown" title="Font"><i class="fa fa-font"></i><b class="caret"></b></a>
            <ul class="dropdown-menu">
            </ul>
          </div>

          <div class="btn-group">
            <a class="btn dropdown-toggle" data-toggle="dropdown" title="Font Size"><i class="fa fa-text-height"></i>&nbsp;<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li>
                <a data-edit="fontSize 5">
                  <p style="font-size:17px">Huge</p>
                </a>
              </li>
              <li>
                <a data-edit="fontSize 3">
                  <p style="font-size:14px">Normal</p>
                </a>
              </li>
              <li>
                <a data-edit="fontSize 1">
                  <p style="font-size:11px">Small</p>
                </a>
              </li>
            </ul>
          </div>

          <div class="btn-group">
            <a class="btn" data-edit="bold" title="Bold (Ctrl/Cmd+B)"><i class="fa fa-bold"></i></a>
            <a class="btn" data-edit="italic" title="Italic (Ctrl/Cmd+I)"><i class="fa fa-italic"></i></a>
            <a class="btn" data-edit="strikethrough" title="Strikethrough"><i class="fa fa-strikethrough"></i></a>
            <a class="btn" data-edit="underline" title="Underline (Ctrl/Cmd+U)"><i class="fa fa-underline"></i></a>
          </div>

          <div class="btn-group">
            <a class="btn" data-edit="insertunorderedlist" title="Bullet list"><i class="fa fa-list-ul"></i></a>
            <a class="btn" data-edit="insertorderedlist" title="Number list"><i class="fa fa-list-ol"></i></a>
            <a class="btn" data-edit="outdent" title="Reduce indent (Shift+Tab)"><i class="fa fa-dedent"></i></a>
            <a class="btn" data-edit="indent" title="Indent (Tab)"><i class="fa fa-indent"></i></a>
          </div>

          <div class="btn-group">
            <a class="btn" data-edit="justifyleft" title="Align Left (Ctrl/Cmd+L)"><i class="fa fa-align-left"></i></a>
            <a class="btn" data-edit="justifycenter" title="Center (Ctrl/Cmd+E)"><i class="fa fa-align-center"></i></a>
            <a class="btn" data-edit="justifyright" title="Align Right (Ctrl/Cmd+R)"><i class="fa fa-align-right"></i></a>
            <a class="btn" data-edit="justifyfull" title="Justify (Ctrl/Cmd+J)"><i class="fa fa-align-justify"></i></a>
          </div>

          <div class="btn-group">
            <a class="btn dropdown-toggle" data-toggle="dropdown" title="Hyperlink"><i class="fa fa-link"></i></a>
            <div class="dropdown-menu input-append">
              <input class="span2" placeholder="URL" type="text" data-edit="createLink" />
              <button class="btn" type="button">Add</button>
            </div>
            <a class="btn" data-edit="unlink" title="Remove Hyperlink"><i class="fa fa-cut"></i></a>
          </div>

          <div class="btn-group">
            <a class="btn" data-edit="undo" title="Undo (Ctrl/Cmd+Z)"><i class="fa fa-undo"></i></a>
            <a class="btn" data-edit="redo" title="Redo (Ctrl/Cmd+Y)"><i class="fa fa-repeat"></i></a>
          </div>

          <div class="btn-group">
            <a class="btn" title="Insert picture (or just drag & drop)" id="pictureBtn"><i class="fa fa-picture-o"></i></a>
            <input type="file" data-role="magic-overlay" data-target="#pictureBtn" data-edit="insertImage" />
          </div>

        </div>

        <div id="editor-header" class="editor-wrapper col-xs-12"></div>

        <br />
    </div>
  </div>
</div>