<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width,initial-scale=1">
            <link rel="icon" href="/favicon.ico">
            <title>rules</title>
            <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css">
            <link href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet">
            <link href="{{ url_for('static', filename='css/vue/vue_rules/app.afdf64f4.css') }}" rel="preload" as="style">
            <link href="{{ url_for('static', filename='css/vue/vue_rules/chunk-vendors.f7154568.css') }}" rel="preload" as="style">
            <link href="{{ url_for('static', filename='js/vue/vue_rules/app.6a92a8dc.js') }}" rel="preload" as="script">
            <link href="{{ url_for('static', filename='js/vue/vue_rules/chunk-vendors.262d9a7a.js') }}" rel="preload" as="script">
            <link href="{{ url_for('static', filename='css/vue/vue_rules/chunk-vendors.f7154568.css') }}" rel="stylesheet">
            <link href="{{ url_for('static', filename='css/vue/vue_rules/app.afdf64f4.css') }}" rel="stylesheet">
        </head>
        <body>
            <noscript>
                <strong>We're sorry but rules doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
            </noscript>
            <div id="app"></div>
            <script src="{{ url_for('static', filename='js/vue/vue_rules/chunk-vendors.262d9a7a.js') }}"></script>
            <script src="{{ url_for('static', filename='js/vue/vue_rules/app.6a92a8dc.js') }}"></script>
        </body>
    </html>