{% extends "base_site.html" %}

{% block title %} Integração de Folios {% endblock title %}

{% block stylesheets %}
{{ super() }}
<link href="{{ url_for('static', filename='vendors/datatables.net-bs/css/dataTables.bootstrap.min.css') }}"
  rel="stylesheet">
<link href="{{ url_for('static', filename='vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css') }}"
  rel="stylesheet">
<link href="{{ url_for('static', filename='vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css') }}"
  rel="stylesheet">
<link href="{{ url_for('static', filename='vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css') }}"
  rel="stylesheet">
<link href="{{ url_for('static', filename='vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css') }}"
  rel="stylesheet">
{% endblock stylesheets %}

{% block content %}
<div class="right_col" role="main">
  <div class="">

    <div class="clearfix"></div>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <div class="row">
              <div align="left">
                <h2>Integração de Folios - Tags</h2>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
          <div class="x_content">
            <table  class="table table-bordered">
              <thead>
                <tr>
                  <th>Tag</th>
                  <th>Ocorrências</th>
                  <th>Folios</th>
                </tr>
              </thead>

              <tbody>
                {% for l in tags %}
                    <tr>
                        <td>{{l.tag}}</td>
                        <td>{{l.n_ocorrencias}}</td>
                        <td>{{l.ref}}</td>
                    </tr>
                {% endfor %}
              </tbody>
            </table>
            {% if foto %}
              <a class="btn btn-danger" href="/import/cancela?nome={{nome}}" role="button">Cancelar</a>
              <a class="btn btn-warning" href="/import/passo3/?nome={{nome}}" role="button">Anterior</a>
              <a class="btn btn-success" href="/import/passo5/?nome={{nome}}" role="button">Avançar</a>
            {% else %}
              <a class="btn btn-danger" href="/import/cancela?nome={{nome}}" role="button">Cancelar</a>
              <a class="btn btn-warning" href="/import/passo2/?nome={{nome}}" role="button">Anterior</a>
              <a class="btn btn-success" href="/import/passo5/?nome={{nome}}" role="button">Avançar</a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block javascripts %}
{{ super() }}
<!-- Datatables -->
<script src="{{ url_for('static', filename='vendors/datatables.net/js/jquery.dataTables.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/datatables.net-bs/js/dataTables.bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/datatables.net-buttons/js/dataTables.buttons.min.js') }}"></script>
<script
  src="{{ url_for('static', filename='vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/datatables.net-buttons/js/buttons.flash.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/datatables.net-buttons/js/buttons.html5.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/datatables.net-buttons/js/buttons.print.min.js') }}"></script>
<script
  src="{{ url_for('static', filename='vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js') }}"></script>
<script
  src="{{ url_for('static', filename='vendors/datatables.net-keytable/js/dataTables.keyTable.min.js') }}"></script>
<script
  src="{{ url_for('static', filename='vendors/datatables.net-responsive/js/dataTables.responsive.min.js') }}"></script>
<script
  src="{{ url_for('static', filename='vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js') }}"></script>
<script
  src="{{ url_for('static', filename='vendors/datatables.net-scroller/js/dataTables.scroller.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/jszip/dist/jszip.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/pdfmake/build/pdfmake.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/pdfmake/build/vfs_fonts.js') }}"></script>
{% endblock javascripts %}