{% extends "base_site.html" %}

{% block title %} Integração de Folios {% endblock title %}

{% block stylesheets %}
{{ super() }}
<link href="{{ url_for('static', filename='vendors/datatables.net-bs/css/dataTables.bootstrap.min.css') }}"
    rel="stylesheet">
<link href="{{ url_for('static', filename='vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css') }}"
    rel="stylesheet">
<link href="{{ url_for('static', filename='vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css') }}"
    rel="stylesheet">
<link href="{{ url_for('static', filename='vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css') }}"
    rel="stylesheet">
<link href="{{ url_for('static', filename='vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css') }}"
    rel="stylesheet">
{% endblock stylesheets %}

{% block content %}
<div class="right_col" role="main">
    <div class="">

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Integração de Folios - Identificação</h2>
                        <div class="clearfix"></div>
                        {% if folios %}
                            {% with messages = get_flashed_messages() %}
                                    {% if messages %}
                                        {% for message in messages %}
                                            <div class="alert alert-warning alert-dismissible" role="alert">
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                                                {{message}}
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                            {% endwith %}
                        {% endif %}
                    </div>
                    <div class="x_content">
                        <!-- start form for validation -->
                        {% if folios %}
                            <form id="form-import1" action="/import/passo1/?nome={{nome}}" method="POST" enctype="multipart/form-data" data-parsley-validate>
                                <label for="idFolio">ID:</label>
                                <input type="text" id="idFolio" class="form-control" name="idFolio" value={{folios.idFolio}} required />
                                
                                <label for="descricao">Descrição:</label>
                                <input type="text" id="descricao" class="form-control" name="descricao" value={{folios.descricao}} required />
                                <label>Versão</label>
                                {% if folios.versao == "Intrepretativa"%}
                                    <p>
                                        Intrepretativa:
                                        <input checked type="radio" class="flat" name="versao" id="versao" value="intrepretativa" required /> 
                                        Semi-Diplomática:
                                        <input type="radio" class="flat" name="versao" id="versao" value="semi-diplomatica" />
                                    </p>
                                {% else%}
                                    <p>
                                        Intrepretativa:
                                        <input type="radio" class="flat" name="versao" id="versao" value="intrepretativa" required /> 
                                        Semi-Diplomática:
                                        <input checked type="radio" class="flat" name="versao" id="versao" value="semi-diplomatica" />
                                    </p>
                                {% endif %}
                                <label> Sumário: </label>
                                {% if folios.sumario == "Transcricao"%}
                                    <p>
                                        Transcrição:
                                        <input checked type="radio" class="flat" name="sumario" id="sumario" value="transcricao" required /> 
                                        Revisão:
                                        <input type="radio" class="flat" name="sumario" id="sumario" value="revisao" />
                                    </p>
                                {% else%}
                                    <p>
                                        Transcrição:
                                        <input type="radio" class="flat" name="sumario" id="sumario" value="transcricao" required /> 
                                        Revisão:
                                        <input checked type="radio" class="flat" name="sumario" id="sumario" value="revisao" />
                                    </p>
                                {% endif %}
                                <label>Tipo:</label>
                                {% if folios.tipo == "Frente"%}
                                    <p>
                                        Frente:
                                        <input checked type="radio" class="flat" name="tipo" id="tipo" value="frente" required /> 
                                        Verso:
                                        <input type="radio" class="flat" name="tipo" id="tipo" value="verso" />
                                    </p>
                                {% else%}
                                    <p>
                                        Frente:
                                        <input type="radio" class="flat" name="tipo" id="tipo" value="frente" required /> 
                                        Verso:
                                        <input checked type="radio" class="flat" name="tipo" id="tipo" value="verso" />
                                    </p>
                                {% endif %}
                                {% if folios.observacao %}
                                    <label for="obs">Observações:</label>
                                    <input type="text" id="obs" class="form-control" name="obs" value={{folios.observacao}} /> 
                                {% else %}
                                    <label for="obs">Observações:</label>
                                    <input type="text" id="obs" class="form-control" name="obs"/>
                                {% endif %}
                                <br>
                                <label for="ficheiro">Adicionar Ficheiro de Texto:</label>
                                <input type="file" id="ficheiro" class="form-control" name="ficheiro"/> 
                                <br>
                                <label for="ficheiro">Adicionar Foto do Fólio:</label>
                                <input type="file" id="foto" class="form-control" name="foto"/>
                                <br>
                                <br>
                                <a class="btn btn-danger" href="/home/index?nome={{nome}}" role="button">Cancelar</a>
                                <button type="reset" class="btn btn-primary">Limpar</button>
                                <button type="submit" class="btn btn-success">Avançar</button>
                            </form>
                        {% else %}
                            <form id="form-import1" action="/import/passo1/?nome={{nome}}" method="POST" enctype="multipart/form-data" data-parsley-validate>
                                <label for="idFolio">ID:</label>
                                <input type="text" id="idFolio" class="form-control" name="idFolio" required />
                                
                                <label for="descricao">Descrição:</label>
                                <input type="text" id="descricao" class="form-control" name="descricao" required />
                                <label> Versão: </label>
                                <p>
                                    Intrepretativa:
                                    <input type="radio" class="flat" name="versao" id="versao" value="intrepretativa" required /> 
                                    Semi-Diplomática:
                                    <input type="radio" class="flat" name="versao" id="versao" value="semi-diplomatica" />
                                </p>
                                <label> Sumário: </label>
                                <p>
                                    Transcrição:
                                    <input type="radio" class="flat" name="sumario" id="sumario" value="transcricao" required /> 
                                    Revisão:
                                    <input type="radio" class="flat" name="sumario" id="sumario" value="revisao" />
                                </p>
                                <label>Tipo:</label>
                                <p>
                                    Frente:
                                    <input type="radio" class="flat" name="tipo" id="tipo" value="frente" required /> 
                                    Verso:
                                    <input type="radio" class="flat" name="tipo" id="tipo" value="verso" />
                                </p>
                                
                                <label for="obs">Observações:</label>
                                <input type="text" id="obs" class="form-control" name="obs"/> 
                                <br>
                                <label for="ficheiro">Adicionar Ficheiro de Texto:</label>
                                <input type="file" id="ficheiro" class="form-control" name="ficheiro"/>
                                <br>
                                <label for="ficheiro">Adicionar Foto do Fólio:</label>
                                <input type="file" id="foto" class="form-control" name="foto"/>  
                                <br>
                                <br>
                                <a class="btn btn-danger" href="/home/index?nome={{nome}}" role="button">Cancelar</a>
                                <button type="reset" class="btn btn-primary">Limpar</button>
                                <button type="submit" class="btn btn-success">Avançar</button>
                            </form>
                        {% endif %}
                        <!-- end form for validations -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block javascripts %}
{{ super() }}
<!-- Datatables -->
<script src="{{ url_for('static', filename='vendors/datatables.net/js/jquery.dataTables.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/datatables.net-bs/js/dataTables.bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/datatables.net-buttons/js/dataTables.buttons.min.js') }}"></script>
<script
    src="{{ url_for('static', filename='vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/datatables.net-buttons/js/buttons.flash.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/datatables.net-buttons/js/buttons.html5.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/datatables.net-buttons/js/buttons.print.min.js') }}"></script>
<script
    src="{{ url_for('static', filename='vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js') }}"></script>
<script
    src="{{ url_for('static', filename='vendors/datatables.net-keytable/js/dataTables.keyTable.min.js') }}"></script>
<script
    src="{{ url_for('static', filename='vendors/datatables.net-responsive/js/dataTables.responsive.min.js') }}"></script>
<script
    src="{{ url_for('static', filename='vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js') }}"></script>
<script
    src="{{ url_for('static', filename='vendors/datatables.net-scroller/js/dataTables.scroller.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/jszip/dist/jszip.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/pdfmake/build/pdfmake.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/pdfmake/build/vfs_fonts.js') }}"></script>
{% endblock javascripts %}